p{
  font-weight: 700; 
}

.cart{
  width: 666px;
  display: grid;
}
.cart-content{
  margin-top: 150px;
  padding: 50px;
}
hr{
  background-color: black;
  font-weight: 600;
}
h1{
  font-size: 48px;
  font-weight: 700;
}

.item-container{
  display: flex;
  margin-left: 50px;
   gap: 500px;
   width: 666px;
}

.item-container p {
  font-weight: 700;
}
.item-container-information {
  display: flex;
  gap: 100px;

}



.cart-items-container{
  display: flex;
  gap: 60px;
}
.cart-items{
  margin-left: 45px;
  display: flex;
  gap: 285px;

}

.cart-item-image img{
  width: 97px;
  height: 120px;
}

.cart-item-image{
  display: flex;
  gap: 20px;
  width: 280px;
}

.cart-item-content{
  display: flex;
  flex-direction: row;
  gap: 83px;
  width: 436px;

}

select{
  border: 1px solid rgb(102, 15, 136);
}

select:hover{
  cursor: pointer;
}


button{
  margin-left: 10px;
  margin-right: 10px;
  background-color: transparent;
    border: 1px solid;
  border-radius: none;
}

.total-amount{
  margin-top: 60px;
  margin-left: 870px;
   font-weight: 700;
   align-items: center;
   justify-content: center;
   display: grid;
   gap: 30px;

}

.total-amount button{
  width: 100%;
  color: white;
  background-color: black;
  border: none;
  height: 41px;
  margin-left: 3px;
  font-weight: 700;
}