*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;


}

body {
  margin: 0;
  padding: 0;
  height: 2000px; /* For demonstration purposes */
}

.header {
  background-color: black;
  color: white;
  width: 100%;
  height: 70px;
  padding: 30px 160px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: top 0.3s ease-in-out;
  z-index: 1000;
  
}

.hover-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px; /* Height of the area to hover over */
  z-index: 999; /* Make sure it's above other content */
}

.hidden-header {
  top: -100px; /* Move header off-screen */
}


.logo img{
  width: 88px;
  height: 74px;
}


.header-content{
  display: flex;
  justify-content: center;
  gap:188px;
  width: 1000px;
  height:74px ;
  align-items: center;
  
}

.nav{
  font-size: 12px;
}
.nav ul{
  display: flex;
  list-style: none;
  gap: 31px;
}

.nav li a {
  text-decoration: none;
  color: white;
}

.icons{
 
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.cart{
  display: flex;
  
  width: 30px;
  height: 26px;
}

