*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;


}

.hero-section{
  
  background-color: black;
  margin-top: 140px;
  text-align: center;
  height: 213px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
}
.hero-section h1{
  font-size: 36px;
  color: white;
  font-weight: 100;
  margin-top: 30px;
}


.new-arrival{
  margin-top: 200px;
 align-items: center;
}
.new-arrival h1{

  font-weight: 600;
  text-align: center;
  font-size:34px ;
  margin-top: 10px;
}





.hoodie-grid-container{
  margin-top: 100px;
  align-items: center;
   display: flex;
  justify-content: center;
  height: 490px;
  text-align: center;
  gap: 50px;
  margin-bottom: 200px;
}
.hoodie-container{
  width: 231px;
  height: 523px;
  text-align: left;
  font-weight: 500;
  padding: 10px;
  display: grid;
   justify-content: center;

}

.hoodie-container img{
  width: 100%;
}

.add-buy-buttons{
  margin-top: 10px;
  display: grid;
  gap: 10px;

  
}
.add-buy-buttons button{
  width: 100%;
  color: white;
  background-color: black;
  border: none;
  height: 41px;
}
.shirts-section{
  justify-content: center;
  text-align: center;

}
.t-shirt-container{
  width: 231px;
  height: 523px;
  text-align: left;
  font-weight: 500;
  padding: 10px;
  display: grid;
 

}
h1{
  font-weight: 600;
}
.hoodie-content p{
  font-weight: 500;
}
.t-shirt-container p{
  font-weight: 500;
}
.view-more a{
  text-decoration: none;
  width: 199px;
  height: 100px;
  color: white;
  
}
.view-more{
  text-align: center;
  width: 199px;
  height: 44px;
  background-color:#7E4040 ;
  text-align: center;
  align-items: center;
  margin-left: 550px;
  padding: 10px 0px 0px 0px;
}

.t-shirt-container img{
  width: 100%;
}

.t-shirt-grid-container{
  align-items: center;
   display: flex;
  padding: 180px;
  height: 490px;
  justify-content: center;
  gap: 50px;
}

.footer{
  margin-top:90px;
  background-color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  padding: 50px;
}
.nav-footer{
  text-align: center;

}

.nav-footer{
  justify-content: center;
  font-size: 12px;
}
.nav-footer ul{
  justify-content: center;
  display: flex;
  list-style: none;
  gap: 31px;
  text-align: center;
}

.nav-footer li a {

  text-align: center;
  text-decoration: none;
  color: white;
}

.info-icons{
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 100px;
  
}

.info-icons p{
  font-weight: 600;
}
.transport-icon{
  padding: 30px;
  width: 209px;
  height: 204px;
  background-color: #D9D9D9;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.transport-icon img{
   width: 80px;
   height: 72px;

}

.social-icons {
  justify-content: center;
  display: flex;
  gap: 16px;
  font-size: 25px;

}

.social-icons :hover{
  background-color: blue;
  border-radius: 50%;
}
button{
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  height: 2000px; /* For demonstration purposes */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}